*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.main-page{
    position: relative;
    height: 100vh;
    background-image:url(../images/imgi_3_drew-coffman-1872.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    color: white;
    padding-top:0 30px;
}

.main-page h1, .main-page h2, .main-page p {
position: relative;
top: 45%;

}

.main-page h1{
 font-size: 22px;
 font-family: 'Alegreya Sans';
 margin-top: 20px;
 
}

.main-page h2{
    font-size: 60px;
    font-family: 'Alegreya';
   margin-bottom: 30px;
}

.main-page p{
    font-size: 24px;
    font-family: 'Alegreya Sans';
     
}
.main-page button {
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    margin: 600px 10px;
    transition: 0.3s;

}

.b1 {
    background-color: #c59d5f;
    color: white;
    border: none;
}

.b2 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.b1:hover {
    background-color: #b08c55;
}

.b2:hover {
    background-color: white;
    color: black;
}

/*-------head-----*/
.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 15px 200px;
    transition: all 0.4s ease;
}

.head.scrolled{
    height: 60px;
    padding: 5px 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.head figure{
    width: 100px;
    height: 50px;
    float: left;
}

.head figure img{
    height: 100%;
}

.nav-link a{
    float: right;
    margin-left: 20px;
    padding-top: 15px;
    color: #595959;
    text-decoration: none;
}

.head.scrolled .nav-link a{
    padding-top: 10px;
}

.clear{
    clear: both;
}

/*-----part2----*/
.about {
    height: 100vh;
    width: 100%;
    padding: 80px 10%;
    box-sizing: border-box;
}

.about-image {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.about-image img {
    width: 100%;
    height: auto;
}

.about-content {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    padding: 50px;
}

.about-content h1 {
    font-size: 34px;
    margin-bottom: 25px;
}

.about-content p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 30px;
}

.features {
    list-style: none;
    padding: 0;
}

.features li {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

/* ------part3-------------*/
 .location {
    height: 100vh;
    width: 100%;
    padding: 80px 10%;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.content {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    padding: 100px;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.content p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

.image {
    width: 45%;
    display: inline-block;
    margin-left: 5%;
}

.image img {
    width: 100%;
    height: auto;
}

/*---------part4-----*/
.baking {
    height: 100vh;
    text-align: center;
    padding: 80px 10%;
    box-sizing: border-box;
    background-color: white;
}

.baking h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.subtitle {
    color: #777;
    margin-bottom: 60px;
}
.cards {
    width: 100%;
}

.card {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5%;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    font-size: 22px;
    margin: 25px 0 15px;
}

.card p {
    font-size: 15px;
    color: #666;
    line-height: 1.7;
    margin-bottom: 10px;
}
/*---------part5-----*/
.contact-section {
    height: 100vh;
    margin: 50px auto;
    font-size: 0;
    background-color:#f8f8f8;
}

.contact-info {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    font-size: 16px;
    padding-right: 10%;
    padding:200px;
}

.contact-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.description {
    color: #666;
    line-height: 1.7;
    margin-bottom: 30px;
}

.subtitle {
    margin-bottom: 20px;
}

.contact-list {
    list-style: none;
    padding: 0;

}

.contact-list li {
    margin-bottom: 15px;
    color: #444;
     
}

.map-box {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    height:550px;
    padding: 200px;
 
}

.map-box iframe {
    width: 100%;
    height: 450px;
    border: 0;
}


/*---------part6-----*/
.footer {
    background: #403a38;
    color: #bbb;
}

/* Top Section */
.footer-top {
    padding: 60px 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-col {
    width: 23%;
}

.footer-col h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col p {
    line-height: 1.8;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    padding: 8px 0;
    border-bottom: 1px solid #4a4742;
    font-size: 14px;
}

.footer-col ul li i {
    margin-right: 10px;
}

/* Bottom Section */
.footer-bottom {
    background: #353330;
    text-align: center;
    padding: 40px 0;
}

.footer-bottom .logo img {
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

.footer-bottom .logo p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #aaa;
}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #484540;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
    margin: 0 5px;
    transition: 0.3s;
}

.social a:hover {
    background: #c1ab84;
    color: #000;
}






